/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7723ff;
  --ifm-color-primary-dark: #6506ff;
  --ifm-color-primary-darker: #5e00f6;
  --ifm-color-primary-darkest: #4e00cb;
  --ifm-color-primary-light: #924fff;
  --ifm-color-primary-lighter: #924fff;
  --ifm-color-primary-lightest: #ad7aff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ccff3d;
  --ifm-color-primary-dark: #c4ff1d;
  --ifm-color-primary-darker: #c0ff0e;
  --ifm-color-primary-darkest: #a3dd00;
  --ifm-color-primary-light: #d4ff5d;
  --ifm-color-primary-lighter: #d8ff6c;
  --ifm-color-primary-lightest: #e5ff9c;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}



.center-i {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  height: 300px;
}

/* .hero {
  background-color: #b182ff;
}

[data-theme='dark'] .hero {
  background-color: #b182ff;
} */

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.header-website-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='16 15 45 45' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 38,15.8333C 50.2423,15.8333 60.1667,25.7577 60.1667,38C 60.1667,50.2423 50.2423,60.1667 38,60.1667C 25.7577,60.1667 15.8333,50.2423 15.8333,38C 15.8333,25.7577 25.7577,15.8333 38,15.8333 Z M 19.065,36.4167L 25.3651,36.4167C 25.4708,33.796 25.8368,31.3011 26.4182,29.0106C 24.9471,28.4945 23.5896,27.8831 22.3719,27.1913C 20.5281,29.8522 19.3463,33.0068 19.065,36.4167 Z M 30.0541,20.7363C 27.8969,21.7308 25.9579,23.1177 24.3286,24.8056C 25.236,25.2756 26.2395,25.6989 27.3232,26.0677C 28.064,24.0419 28.9879,22.241 30.0541,20.7363 Z M 36.4167,36.4167L 36.4167,30.8432C 33.9463,30.7436 31.5878,30.4126 29.4069,29.8881C 28.9321,31.8962 28.6282,34.0974 28.5325,36.4167L 36.4167,36.4167 Z M 36.4167,19.2627C 33.9024,20.1063 31.7231,22.9251 30.2911,26.8939C 32.1894,27.3157 34.2515,27.5865 36.4167,27.6758L 36.4167,19.2627 Z M 56.9349,36.4167C 56.6536,33.0068 55.4719,29.8523 53.6281,27.1913C 52.4104,27.8831 51.0528,28.4946 49.5818,29.0107C 50.1631,31.3011 50.5291,33.796 50.6348,36.4167L 56.9349,36.4167 Z M 45.9459,20.7363C 47.012,22.241 47.9359,24.042 48.6767,26.0677C 49.7605,25.6989 50.7639,25.2756 51.6714,24.8056C 50.0421,23.1177 48.1031,21.7308 45.9459,20.7363 Z M 39.5833,36.4167L 47.4674,36.4167C 47.3718,34.0974 47.0678,31.8962 46.5931,29.8881C 44.4122,30.4126 42.0536,30.7436 39.5833,30.8432L 39.5833,36.4167 Z M 39.5833,19.2627L 39.5833,27.6758C 41.7484,27.5865 43.8106,27.3157 45.7088,26.8939C 44.2769,22.9251 42.0975,20.1064 39.5833,19.2627 Z M 56.9349,39.5834L 50.6348,39.5834C 50.5291,42.204 50.1631,44.6989 49.5818,46.9894C 51.0528,47.5055 52.4104,48.1169 53.6281,48.8087C 55.4719,46.1478 56.6536,42.9932 56.9349,39.5834 Z M 45.9459,55.2638C 48.1031,54.2692 50.0421,52.8823 51.6714,51.1944C 50.764,50.7244 49.7605,50.3011 48.6767,49.9323C 47.9359,51.9581 47.012,53.7591 45.9459,55.2638 Z M 39.5833,39.5834L 39.5833,45.1568C 42.0536,45.2564 44.4122,45.5874 46.5931,46.1119C 47.0678,44.1038 47.3718,41.9027 47.4675,39.5834L 39.5833,39.5834 Z M 39.5833,56.7373C 42.0975,55.8937 44.2769,53.075 45.7089,49.1061C 43.8106,48.6843 41.7484,48.4135 39.5833,48.3242L 39.5833,56.7373 Z M 19.065,39.5834C 19.3463,42.9932 20.5281,46.1478 22.3719,48.8087C 23.5896,48.1169 24.9471,47.5055 26.4182,46.9894C 25.8368,44.6989 25.4708,42.204 25.3651,39.5834L 19.065,39.5834 Z M 30.0541,55.2638C 28.988,53.7591 28.0641,51.9581 27.3232,49.9323C 26.2395,50.3011 25.236,50.7244 24.3286,51.1945C 25.9579,52.8823 27.8969,54.2693 30.0541,55.2638 Z M 36.4167,39.5834L 28.5325,39.5834C 28.6282,41.9027 28.9321,44.1039 29.4069,46.1119C 31.5878,45.5874 33.9463,45.2564 36.4167,45.1568L 36.4167,39.5834 Z M 36.4167,56.7373L 36.4167,48.3242C 34.2515,48.4135 32.1893,48.6843 30.2911,49.1061C 31.7231,53.075 33.9024,55.8937 36.4167,56.7373 Z '/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.header-website-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}